/*header*/
 .container{
     display: flex;
     flex-direction:column;
     padding-top: 40px;
     padding-left: 150px;
     padding-bottom: 70px;
     background-color: rgb(250, 249, 249) 
}
 .title{
    font-family: 'Trebuchet MS', Arial, sans-serif;
     font-size: 50px;
     color: black
}
 #title{
    font-family: 'Times New Roman', Times, serif;
     font-size: 22px;
     position: absolute;
     top: 130px;
     color:rgb(158, 154, 154);
}
/*Navbar*/
 nav{
     font-weight:400;
     font-size:1em;
}
 nav ul{
     display:flex;
     justify-content: flex-start;
}
 nav li {
     padding:20px 0px;
     margin-right:40px;
     margin-left:0;
}
 .list-item li:nth-child(2) a{
     color:#808080 ;
}
 nav a{
     color:#000;
}
 nav a:hover{
     background-color:#eee;
     padding:20px 0px;
}
/* Responsive for navbar in mobile screens*/
 @media (max-width: 650px) {
     nav ul {
         margin-top: 10px;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: start;
    }
     nav li{
         padding:10px 0;
    }
}
 ul,ol{
    list-style: none
}
/* main main2 */
 section {
     display: flex;
}
 body > h1 {
     font-family: Queens Park, serif;
     font-size: 4rem;
     text-align: center;
}
 article.main {
     -ms-flex-grow: 1;
     flex: 1;
     text-align: left;
     padding-left: 150px;
     padding-right: 0px;
     padding-top: 75px;
    /* shortcut for "flex-grow: 2" */
}
 article.main2 {
     -ms-flex-grow: 2;
     flex: 2;
     padding-right: 200px;
     padding-left: 150px;
     padding-top: 50px;
    /* shortcut for "flex-grow: 2" */
}
 article h1, article h2 {
     font-family:"Trebuchet MS";
}
 article h1 {
     font-size: 2rem;
     line-height: 1.3;
}
 article h2 {
     font-size: 1rem;
     text-align: left;
     line-height: 1.5;
}
 article p {
     font-family: Merriweather;
     color: grey;
     line-height: 1.6;
}
 @media screen and (max-width: 750px) {
     body > h1 {
         font-size: 3rem;
    }
     section {
         -ms-flex-direction: column;
         -webkit-box-orient: vertical;
         flex-direction: column;
    }
}
/*The gallery (aside) and logotypes on the web (section) */
 .flex-container1 {
     margin: 0 10%;
     padding-right: 100px;
}
 .flex-container1 section {
     margin-top: 5%;
}
 .flex-container1 aside {
     margin-top: 5%;
     font-size: 0.7em;
}
 .iconslogo {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}
 .iconslogo a {
     flex-basis: 50%;
     margin-top: 7%;
     display: flex;
     justify-content: center;
}
 .iconslogo a img {
     max-width: 60px;
     max-height: 60px;
}
 @media only screen and (min-width: 900px) {
     .flex-container1 {
         display: flex;
         justify-content: space-between;
    }
     .iconslogo a {
         flex-basis: 25%;
    }
     .flex-container1 aside {
         flex-basis: 25%;
    }
     .flex-container1 section {
         flex-basis: 70%;
    }
}
/*footer*/
 footer {
     padding-left: 10%;
     background-color: #573DC4;
     color: white;
     margin-top: 2%;
     font-family: "Trebuchet MS",Helvetica,sans-serif;
     font-size: 17px;
     letter-spacing: 1px;
     word-spacing: 0px;
     font-weight: normal;
     text-decoration: none;
}
 .footer-sub {
     padding: 5% 0;
}
 .footer-sub nav {
     display: block;
     padding-left: 0;
}
/*Navigation bar in the footer should not be part of mobile layout*/
 .footer-sub:last-child {
     display: none;
}
 @media only screen and (min-width: 900px) {
     footer {
         display: flex;
         justify-content: space-between;
    }
     .footer-sub {
         flex-basis: 23%;
    }
    /*This is to disply navigation bar on large screen*/
     .footer-sub:last-child {
         display:initial ;
    }
}
 